@font-face {
    font-family: 'Monsteratoltiyuz';
    src:url(../fonts/montserrat-v18-latin-600.woff2);
}
@font-face {
    font-family: 'Monsteratyetiyuz';
    src:url(../fonts/montserrat-v18-latin-700.woff2);
}
@font-face {
    font-family: 'Monsterattortyuz';
    src:url(../fonts/montserrat-v18-latin-regular.woff2);
}
@font-face {
    font-family: 'Ralewayyetiyuz';
    src:url(../fonts/raleway-v22-latin-700.woff2);
}
@font-face {
    font-family: 'Ralewaysakizyuz';
    src:url(../fonts/raleway-v22-latin-800.woff2);
}
